extends layout

block content
  
  div(style='margin-top:30px; margin-left:30px;')
    h2= pageHeader.title
    p= pageHeader.strapline
  hr

  .container-fluid.gedf-wrapper
          .row
            .col-md-3
              .card
                .card-body
                  .h5 Search
                  label(for="filter") 
                  input#filter(type="text", name="filter", ng-model="textFilter")
                ul.list-group.list-group-flush
                  li.list-group-item
                    .h6.text 
                      | Region:
                     label(for='inputRegion')
                      select#regionSelect.form-control(name='regionTag', ng-model="tagFilter")
                        each region in regions
                          option #{region}

                  li.list-group-item
                    .h6.text 
                      | Country: 
                     label(for='inputCountry')
                      select#regionSelect.form-control(name='countryTag', ng-model="tagFilter")
                        each country in countries
                          option #{country}
                    
                  li.list-group-item
                    .h6.text 
                      | Commodity
                     label(for='inputCommodity')
                      select#regionSelect.form-control(name='commodityTag', ng-model="tagFilter")
                        each commodity in commodities
                          option #{commodity}
                    

            .col-md-6.gedf-main
              input.btn.btn-primary(type='button', ng-click='AddData(); saved=!saved;', value='Create Post', style="margin-bottom: 15px;")

              .card.gedf-card(ng-hide="!saved")
                .card-header
                  ul#myTab.nav.nav-tabs.card-header-tabs(role='tablist')
                    li.nav-item
                      a#posts-tab.nav-link.active(data-toggle='tab', href='#posts', role='tab', aria-controls='posts', aria-selected='true')
                        | Post an update
                    li.nav-item
                      a#images-tab.nav-link(data-toggle='tab', role='tab', aria-controls='images', aria-selected='false', href='#images') Images
                    li.nav-item
                      a#files-tab.nav-link(data-toggle='tab', role='tab', aria-controls='images', aria-selected='false', href='#files') Files
                .card-body
                  #myTabContent.tab-content
                    #posts.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='posts-tab')
                      form(method='POST', action='')
                        .form-group(ng-controller="usersList")    
                          .row
                              .col-md-4
                                label(for='inputName') 
                                  .h7.text-muted Username
                                select#regionSelect.form-control(name='user', style="margin-bottom:10px;")
                                  option(ng-repeat="user in data") 
                                    | {{ user.name }}                 
                          
                          label.sr-only(for='inputTitle') Title
                          textarea#message.form-control(style="margin-bottom:10px;", rows='1', placeholder='Title / Headline', name='title')
                          label.sr-only(for='inputTitle') Subtitle
                          textarea#message.form-control(style="margin-bottom:10px;", rows='1', placeholder='Subtitle', name='subTitle')
                          label.sr-only(for='inputText') Text
                          textarea#message.form-control(rows='3', placeholder='Share news and updates about projects', name='text')
                          
                          .row
                            .col-md-4
                              label(for='inputRegion') 
                                .h7.text-muted Region
                              select#regionSelect.form-control(name='regionTag')
                                each region in regions
                                  option #{region}
                            .col-md-4
                              label(for='inputCountry') 
                                .h7.text-muted Country
                              select#countrySelect.form-control(name='countryTag')
                                each country in countries
                                  option #{country} 
                            .col-md-4
                              label(for='inputCommodity') 
                                .h7.text-muted Commodity
                              select#commoditySelect.form-control(name='commodityTag')
                                each commodity in commodities
                                  option #{commodity}   
                        input.btn.btn-primary(type='submit', value='Submit')               
                    #images.tab-pane.fade(role='tabpanel', aria-labelledby='images-tab')
                      .h5 ** Feature coming soon **
                      .form-group
                        .custom-file
                          input#customFile.custom-file-input(type='file')
                          label.custom-file-label(for='customFile') Upload image
                      .py-4
                    #files.tab-pane.fade(role='tabpanel', aria-labelledby='files-tab')
                      .h5 ** Feature coming soon **
                      .form-group
                        .custom-file
                          
                          input#customFile.custom-file-input(type='file')
                          label.custom-file-label(for='customFile') Upload file
                      .py-4
                  
                    
              // Post /////          
              div(ng-controller="newsList")
                ul.nav.nav-tabs
                  li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#all') All
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#popular') Popular
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#favourites') Favourites
                
                #myTabContent.tab-content
                  #all.tab-pane.fade.active.show
                          // - \\\\\\\All Posts 
                          div(ng-repeat="news in data | filter : textFilter | filter : tagFilter")(ng-if = "news.report == false")
                            
                              .card.gedf-card(style='margin-top:20px')
                                    .card-header
                                      .d-flex.justify-content-between.align-items-center
                                          .d-flex.justify-content-between.align-items-center
                                            .mr-2
                                                img.rounded-circle(width='45', src="/images/user-profile.png", alt='Profile pic')
                                            .ml-2
                                                .h5.m-0 {{news.title}} 
                                                .h7.text-muted {{news.user}}
                                          div
                                          | {{news.likes}} Likes
                                            
                                    .card-body
                                      .text-muted.h7.mb-2
                                          i.fa.fa-clock-o
                                          |{{news.createdAt | date : 'dd/MM/yyyy'}}
                                      a.card-link(href='#')
                                          h5.card-title {{news.subTitle}}
                                      p.card-text
                                        | {{news.text}}
                                        
                                      div
                                        span.badge.badge-primary(style='margin-right:5px;') {{news.regionTag}}
                                        span.badge.badge-primary(style='margin-right:5px;') {{news.countryTag}}
                                        span.badge.badge-primary(style='margin-right:5px;') {{news.commodityTag}}
                                    .card-footer
                                          
                                        .row
                                          .col-md-3
                                           h4 
                                            form(method='POST', action="{{'/' + news._id + '/newsLikes'}}")
                                              input.btn.btn-outline-info(type='submit', value='Like')
                                              
                                          .col-md-3
                                            form(method='POST', action="{{'/' + news._id + '/newsFavourite'}}")
                                              input.btn.btn-outline-success(type='submit', value='Favourite')
                                          .col-md-3
                                              form(method='GET', action="{{'/newsComment/' +  news._id }}")
                                                input.btn.btn-outline-primary(type='submit', value='Comment')
                                          .col-md-3
                                            form(method='POST', action="{{'/' + news._id + '/newsReport'}}")
                                              input.btn.btn-outline-danger(type='submit', value='Report')      
                  #popular.tab-pane.fade
                          // - \\\\\\\Popular Posts 
                          .card.gedf-card(style='margin-top:20px')(ng-repeat="news in data | filter : textFilter | filter : tagFilter")(ng-if = "news.report == false && news.likes > 20")
                                    .card-header
                                      .d-flex.justify-content-between.align-items-center
                                          .d-flex.justify-content-between.align-items-center
                                            .mr-2
                                                img.rounded-circle(width='45', src="/images/user-profile.png", alt='Profile pic')
                                            .ml-2
                                                .h5.m-0 {{news.title}} 
                                                .h7.text-muted {{news.user}}
                                          div
                                          | {{news.likes}} Likes
                                            
                                    .card-body
                                      .text-muted.h7.mb-2
                                          i.fa.fa-clock-o
                                          |{{news.createdAt | date : 'dd/MM/yyyy'}}
                                      a.card-link(href='#')
                                          h5.card-title {{news.subTitle}}
                                      p.card-text
                                        | {{news.text}}
                                        
                                      div
                                        span.badge.badge-primary(style='margin-right:5px;') {{news.regionTag}}
                                        span.badge.badge-primary(style='margin-right:5px;') {{news.countryTag}}
                                        span.badge.badge-primary(style='margin-right:5px;') {{news.commodityTag}}
                                    .card-footer
                                          
                                        .row
                                          .col-md-3
                                           h4 
                                            form(method='POST', action="{{'/' + news._id + '/newsLikes'}}")
                                              input.btn.btn-outline-info(type='submit', value='Like')
                                              
                                          .col-md-3
                                            form(method='POST', action="{{'/' + news._id + '/newsFavourite'}}")
                                              input.btn.btn-outline-success(type='submit', value='Favourite')
                                          .col-md-3
                                              form(method='GET', action="{{'/newsComment/' +  news._id }}")
                                                input.btn.btn-outline-primary(type='submit', value='Comment')
                                          .col-md-3
                                            form(method='POST', action="{{'/' + news._id + '/newsReport'}}")
                                              input.btn.btn-outline-danger(type='submit', value='Report')                       
                  #favourites.tab-pane.fade
                          // - \\\\\\\Favourites Posts 
                          .card.gedf-card(style='margin-top:20px')(ng-repeat="news in data | filter : textFilter | filter : tagFilter")(ng-if = "news.report == false && news.favourite == true")
                                    .card-header
                                      .d-flex.justify-content-between.align-items-center
                                          .d-flex.justify-content-between.align-items-center
                                            .mr-2
                                                img.rounded-circle(width='45', src="/images/user-profile.png", alt='Profile pic')
                                            .ml-2
                                                .h5.m-0 {{news.title}} 
                                                .h7.text-muted {{news.user}}
                                          div
                                          | {{news.likes}} Likes
                                            
                                    .card-body
                                      .text-muted.h7.mb-2
                                          i.fa.fa-clock-o
                                          |{{news.createdAt | date : 'dd/MM/yyyy'}}
                                      a.card-link(href='#')
                                          h5.card-title {{news.subTitle}}
                                      p.card-text
                                        | {{news.text}}
                                        
                                      div
                                        span.badge.badge-primary(style='margin-right:5px;') {{news.regionTag}}
                                        span.badge.badge-primary(style='margin-right:5px;') {{news.countryTag}}
                                        span.badge.badge-primary(style='margin-right:5px;') {{news.commodityTag}}
                                    .card-footer
                                          
                                        .row
                                          .col-md-3
                                           h4 
                                            form(method='POST', action="{{'/' + news._id + '/newsLikes'}}")
                                              input.btn.btn-outline-info(type='submit', value='Like')
                                              
                                          .col-md-3
                                            form(method='POST', action="{{'/' + news._id + '/newsFavourite'}}")
                                              input.btn.btn-outline-success(type='submit', value='Favourite')
                                          .col-md-3
                                              form(method='GET', action="{{'/newsComment/' +  news._id }}")
                                                input.btn.btn-outline-primary(type='submit', value='Comment')
                                          .col-md-3
                                            form(method='POST', action="{{'/' + news._id + '/newsReport'}}")
                                              input.btn.btn-outline-danger(type='submit', value='Report') 
            