extends layout

block content
  
  div(style='margin-top:30px; margin-left:30px;')
    h2= pageHeader.title
    p= pageHeader.strapline
  hr

  .container-fluid.gedf-wrapper
          .row
            .col-md-3
              .card
                .card-body
                  .h5 Filter
                ul.list-group.list-group-flush
                  li.list-group-item
                    .h6.text-muted Region
                    each region in regions
                      a.badge.badge-primary(style="margin-right: 5px;", data-toggle='tab', href='#following')= region

                  li.list-group-item
                    .h6.text-muted Country
                    each country in countries
                      a.badge.badge-primary(style="margin-right: 5px;", data-toggle='tab', href='#following')= country

                  li.list-group-item
                    .h6.text-muted Commodity
                    each commodity in commodities
                      a.badge.badge-primary(style="margin-right: 5px;", data-toggle='tab', href='#following')= commodity

            .col-md-6.gedf-main
              .card.gedf-card
                .card-header
                  ul#myTab.nav.nav-tabs.card-header-tabs(role='tablist')
                    li.nav-item
                      a#posts-tab.nav-link.active(data-toggle='tab', href='#posts', role='tab', aria-controls='posts', aria-selected='true')
                        | Post an update
                    li.nav-item
                      a#images-tab.nav-link(data-toggle='tab', role='tab', aria-controls='images', aria-selected='false', href='#images') Images
                    li.nav-item
                      a#files-tab.nav-link(data-toggle='tab', role='tab', aria-controls='images', aria-selected='false', href='#files') Files
                .card-body
                  #myTabContent.tab-content
                    #posts.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='posts-tab')
                      form(method='POST', action='')
                        .form-group
                          label.sr-only(for='inputTitle') Title
                          textarea#message.form-control(style="margin-bottom:10px;", rows='1', placeholder='Title / Headline', name='title')
                          label.sr-only(for='inputText') Text
                          textarea#message.form-control(rows='3', placeholder='Share news and updates about projects', name='text')
                          
                          .row
                            .col-md-4
                              label(for='inputRegion') 
                                .h7.text-muted Region
                              select#regionSelect.form-control(name='tag1')
                                each region in regions
                                  option #{region}
                            .col-md-4
                              label(for='inputCountry') 
                                .h7.text-muted Country
                              select#countrySelect.form-control(name='tag2')
                                each country in countries
                                  option #{country} 
                            .col-md-4
                              label(for='inputCommodity') 
                                .h7.text-muted Commodity
                              select#commoditySelect.form-control(name='tag3')
                                each commodity in commodities
                                  option #{commodity}   
                        input.btn.btn-primary(type='submit', value='Submit')               
                    #images.tab-pane.fade(role='tabpanel', aria-labelledby='images-tab')
                      .form-group
                        .custom-file
                          input#customFile.custom-file-input(type='file')
                          label.custom-file-label(for='customFile') Upload image
                      .py-4
                    #files.tab-pane.fade(role='tabpanel', aria-labelledby='files-tab')
                      .form-group
                        .custom-file
                          input#customFile.custom-file-input(type='file')
                          label.custom-file-label(for='customFile') Upload file
                      .py-4
                  
                    
              // Post /////          
              div
                ul.nav.nav-tabs
                  li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#following') Following
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#popular') Popular
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#all') All
                
                #myTabContent.tab-content
                  #following.tab-pane.fade.active.show
                          // - \\\\\\\Following Posts
                          each post in news
                            if (post.following == true)
                              .card.gedf-card(style='margin-top:20px')
                                    .card-header
                                      .d-flex.justify-content-between.align-items-center
                                          .d-flex.justify-content-between.align-items-center
                                            .mr-2
                                                img.rounded-circle(width='45', src=post.profilePic, alt='Profile pic')
                                            .ml-2
                                                .h5.m-0= post.title
                                                .h7.text-muted= post.user
                                          div
                                          | #{post.likes} Likes
                                            
                                    .card-body
                                      .text-muted.h7.mb-2
                                          i.fa.fa-clock-o
                                          | #{post.time}
                                      a.card-link(href='#')
                                          h5.card-title= post.subTitle
                                      p.card-text
                                        | #{post.text}
                                      div
                                            each tag in post.tags
                                              span.badge.badge-primary(style="margin-right: 5px;")= tag
                                    .card-footer
                                       form(method='POST', action='/' + post._id + '/newsLikes')
                                          input.btn.btn-success(type='submit', value='Like')
                                          a.card-link(href='#')
                                              i.fa.fa-comment
                                              |  Comment
                                          a.card-link(href='#')
                                              i.fa.fa-comment
                                              |  Report
                              
                  #popular.tab-pane.fade
                    each post in news
                            if (post.likes > 20)
                              .card.gedf-card(style='margin-top:20px')
                                .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=post.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= post.title
                                        .h7.text-muted= post.user
                                    div
                                      | #{post.likes} Likes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{post.time}
                                  a.card-link(href='#')
                                    h5.card-title= post.subTitle
                                  p.card-text
                                    | #{post.text}
                                  div
                                        each tag in post.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  form(method='POST', action='/' + post._id + '/newsLikes')
                                      input.btn.btn-success(type='submit', value='Like')
                                      a.card-link(href='#')
                                         i.fa.fa-comment
                                         |  Comment
                                      a.card-link(href='#')
                                         i.fa.fa-comment
                                         |  Report
                  
                  #all.tab-pane.fade
                    each post in news
                              .card.gedf-card(style='margin-top:20px')
                                .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=post.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= post.title
                                        .h7.text-muted= post.user
                                    div
                                      | #{post.likes} Likes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{post.time}
                                  a.card-link(href='#')
                                    h5.card-title= post.subTitle
                                  p.card-text
                                    | #{post.text}
                                  div
                                        each tag in post.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  form(method='POST', action='/' + post._id + '/newsLikes')
                                      input.btn.btn-success(type='submit', value='Like')
                                      a.card-link(href='#')
                                         i.fa.fa-comment
                                         |  Comment
                                      a.card-link(href='#')
                                         i.fa.fa-comment
                                         |  Report
                            
                  div
                    ul.pagination
                      li.page-item.disabled
                        a.page-link(href='#') «
                      li.page-item.active
                        a.page-link(href='#') 1
                      li.page-item
                        a.page-link(href='#') 2
                      li.page-item
                        a.page-link(href='#') 3
                      li.page-item
                        a.page-link(href='#') 4
                      li.page-item
                        a.page-link(href='#') 5
                      li.page-item
                        a.page-link(href='#') »
            .col-md-3
              .card
                .card-body
                  .h5= fullName
                  .h7.text-muted Fullname : #{fullName}
                  .h7
                    | #{description}
                  a.card-link(href='/profile') View Profile
                ul.list-group.list-group-flush
                  li.list-group-item
                    .h6.text-muted Followers
                    .h5= followers
                  li.list-group-item
                    .h6.text-muted Following
                    .h5= following