extends layout

block content
  
  div(style='margin-top:30px; margin-left:30px;')
    h2= pageHeader.title
    p= pageHeader.strapline
  hr

  .container-fluid.gedf-wrapper
          .row
            .col-md-3
              .card
                .card-body
                  .h5= fullName
                  .h7.text-muted Fullname : #{fullName}
                  .h7
                    | #{description}
                  a.card-link(href='/profile') View Profile
                    
                ul.list-group.list-group-flush
                  li.list-group-item
                    .h6.text-muted Followers
                    .h5= followers
                  li.list-group-item
                    .h6.text-muted Following
                    .h5= following
            .col-md-6.gedf-main
              .card.gedf-card
                .card-header
                  ul#myTab.nav.nav-tabs.card-header-tabs(role='tablist')
                    li.nav-item
                      a#posts-tab.nav-link.active(data-toggle='tab', href='#posts', role='tab', aria-controls='posts', aria-selected='true')
                        | Post an update
                    li.nav-item
                      a#images-tab.nav-link(data-toggle='tab', role='tab', aria-controls='images', aria-selected='false', href='#images') Images
                .card-body
                  #myTabContent.tab-content
                    #posts.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='posts-tab')
                      .form-group
                        label.sr-only(for='message') post
                        textarea#message.form-control(rows='3', placeholder='What are you thinking?')
                    #images.tab-pane.fade(role='tabpanel', aria-labelledby='images-tab')
                      .form-group
                        .custom-file
                          input#customFile.custom-file-input(type='file')
                          label.custom-file-label(for='customFile') Upload image
                      .py-4
                  .btn-toolbar.justify-content-between
                    .btn-group
                      button.btn.btn-primary(type='submit') share
                    .btn-group
                      button#btnGroupDrop1.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        i.fa.fa-globe
                      .dropdown-menu.dropdown-menu-right(aria-labelledby='btnGroupDrop1')
                        a.dropdown-item(href='#')
                          i.fa.fa-globe
                          |  Public
                        a.dropdown-item(href='#')
                          i.fa.fa-users
                          |  Friends
                        a.dropdown-item(href='#')
                          i.fa.fa-user
                          |  Just me
              // Post /////          
              div
                ul.nav.nav-tabs
                  li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#following') Following
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#popular') Popular
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#all') All
                
                #myTabContent.tab-content
                  #following.tab-pane.fade.active.show
                          // - \\\\\\\Post
                          each post in posts
                            if (post.following == true)
                              .card.gedf-card(style='margin-top:20px')
                                .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=post.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= post.title
                                        .h7.text-muted= post.user
                                    div
                                      | #{post.likes} Likes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{post.time}
                                  a.card-link(href='#')
                                    h5.card-title= post.subTitle
                                  p.card-text
                                    | #{post.text}
                                  div
                                        each tag in post.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  a.card-link(href='#')
                                    i.fa.fa-gittip
                                    |  Like
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Comment
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Report
                      
                  #popular.tab-pane.fade
                    each post in posts
                            if (post.likes > 20)
                              .card.gedf-card(style='margin-top:20px')
                                .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=post.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= post.title
                                        .h7.text-muted= post.user
                                    div
                                      | #{post.likes} Likes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{post.time}
                                  a.card-link(href='#')
                                    h5.card-title= post.subTitle
                                  p.card-text
                                    | #{post.text}
                                  div
                                        each tag in post.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  a.card-link(href='#')
                                    i.fa.fa-gittip
                                    |  Like
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Comment
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Report
                  
                  #all.tab-pane.fade
                    each post in posts
                              .card.gedf-card(style='margin-top:20px')
                                .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=post.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= post.title
                                        .h7.text-muted= post.user
                                    div
                                      | #{post.likes} Likes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{post.time}
                                  a.card-link(href='#')
                                    h5.card-title= post.subTitle
                                  p.card-text
                                    | #{post.text}
                                  div
                                        each tag in post.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  a.card-link(href='#')
                                    i.fa.fa-gittip
                                    |  Like
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Comment
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Report
                            
                  div
                    ul.pagination
                      li.page-item.disabled
                        a.page-link(href='#') «
                      li.page-item.active
                        a.page-link(href='#') 1
                      li.page-item
                        a.page-link(href='#') 2
                      li.page-item
                        a.page-link(href='#') 3
                      li.page-item
                        a.page-link(href='#') 4
                      li.page-item
                        a.page-link(href='#') 5
                      li.page-item
                        a.page-link(href='#') »