extends layout

block content
  
  div(style='margin-top:30px; margin-left:30px;')
    h2= pageHeader.title
    p= pageHeader.strapline
  hr
  
  .container-fluid.gedf-wrapper
          .row
            .col-md-3
              .card
                  .card-body
                    .h5 Rules
                    p Up-vote the questions that you think should be answered first.
                      br
                    p Please don't ask a question that has already been asked.
            .col-md-6.gedf-main
              .card.gedf-card
                .card-header
                  ul#myTab.nav.nav-tabs.card-header-tabs(role='tablist')
                    li.nav-item
                      a#posts-tab.nav-link.active(data-toggle='tab', href='#posts', role='tab', aria-controls='posts', aria-selected='true')
                        | Ask a Question
                .card-body
                  #myTabContent.tab-content
                    #posts.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='posts-tab')
                      .form-group
                        label.sr-only(for='message') post
                        textarea#message.form-control(rows='3', placeholder='What would you like help with?')
                  .btn-toolbar.justify-content-between
                    .btn-group
                      button.btn.btn-primary(type='submit') Ask
              div
                  ul.nav.nav-tabs
                    li.nav-item
                      a.nav-link.active(data-toggle='tab', href='#latest') Latest
                    li.nav-item
                      a.nav-link(data-toggle='tab', href='#unanswered') Unanswered
                    li.nav-item
                      a.nav-link(data-toggle='tab', href='#answered') Answered

              #myTabContent.tab-content
                  #latest.tab-pane.fade.active.show
                    // - \\\\\\\Question
                    each question in questions
                      .card.gedf-card(style='margin-top:20px')
                        .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=question.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= question.title
                                        .h7.text-muted= question.user
                                    div
                                      | #{question.upVotes} Up Votes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{question.time}
                                  p.card-text
                                    | #{question.text}
                                  div
                                        each tag in question.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  form(method='POST', action='/qa/' + question._id + '/questionsUpVotes')
                                      input.btn.btn-success(type='submit', value='Up Vote')
                                  a.card-link(href='#')
                                    i.fa.fa-gittip
                                    |  Answer
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Report
                                                            

                  #unanswered.tab-pane.fade.show
                    // - \\\\\\\Question
                    each question in questions
                      if (question.answered == false)
                        .card.gedf-card(style='margin-top:20px')
                          .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=question.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= question.title
                                        .h7.text-muted= question.user
                                    div
                                      | #{question.upVotes} Up Votes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{question.time}
                                  p.card-text
                                    | #{question.text}
                                  div
                                        each tag in question.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  a.card-link(href='#')
                                    i.fa.fa-gittip
                                    |  Answer
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Report
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Up Vote    

                  #answered.tab-pane.fade.show
                    // - \\\\\\\Question
                    each question in questions
                      if (question.answered == true)
                        .card.gedf-card(style='margin-top:20px')
                          .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=question.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= question.title
                                        .h7.text-muted= question.user
                                    div
                                      | #{question.upVotes} Up Votes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{question.time}
                                  p.card-text
                                    | #{question.text}
                                  div
                                        each tag in question.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  a.card-link(href='#')
                                    i.fa.fa-gittip
                                    |  Answer
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Report
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Up Vote  









//.card-footer
                                       .row
                                          .col-md-3
                                            form(method='POST', action='/' + post._id + '/newsLikes')
                                              input.btn.btn-outline-info(type='submit', value='Like')
                                          .col-md-3
                                            form(method='POST', action='/' + post._id + '/newsFavourite')
                                              input.btn.btn-outline-success(type='submit', value='Favourite')
                                          .col-md-3
                                            a.btn.btn-outline-primary(href='/newsComment/' + post._id) Comment
                                            //- form(method='GET', action='/' + post._id + '/newsComment')
                                            //-   input.btn.btn-outline-primary(type='submit', value='Comment')
                                          .col-md-3
                                            form(method='POST', action='/' + post._id + '/newsReport')
                                              input.btn.btn-outline-danger(type='submit', value='report')
                                          
                              
                  //#popular.tab-pane.fade
                    each post in news
                            if (post.report == false && post.likes > 20)
                              .card.gedf-card(style='margin-top:20px')
                                .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src="/images/user-profile.png", alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= post.title
                                        .h7.text-muted= post.user
                                    div
                                      | #{post.likes} Likes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{post.time}
                                  a.card-link(href='#')
                                    h5.card-title= post.subTitle
                                  p.card-text
                                    | #{post.text}
                                  div
                                        each tag in post.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                       .row
                                          .col-md-3
                                            form(method='POST', action='/' + post._id + '/newsLikes')
                                              input.btn.btn-outline-info(type='submit', value='Like')
                                          .col-md-3
                                            form(method='POST', action='/' + post._id + '/newsFavourite')
                                              input.btn.btn-outline-success(type='submit', value='Favourite')
                                          .col-md-3
                                            form(method='POST', action='')
                                              input.btn.btn-outline-primary(type='submit', value='Comment')
                                          .col-md-3
                                            form(method='POST', action='/' + post._id + '/newsReport')
                                              input.btn.btn-outline-danger(type='submit', value='report')
                  
                  //#favourites.tab-pane.fade
                    each post in news
                      if (post.report == false && post.favourite == true )
                              .card.gedf-card(style='margin-top:20px')
                                .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src="/images/user-profile.png", alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= post.title
                                        .h7.text-muted= post.user
                                    div
                                      | #{post.likes} Likes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{post.createdAt}
                                  a.card-link(href='#')
                                    h5.card-title= post.subTitle
                                  p.card-text
                                    | #{post.text}
                                  div
                                    span.badge.badge-primary(style='margin-right:5px;') #{post.regionTag}
                                    span.badge.badge-primary(style='margin-right:5px;') #{post.countryTag}
                                    span.badge.badge-primary(style='margin-right:5px;') #{post.commodityTag}
                                    
                                .card-footer
                                       .row
                                          .col-md-3
                                            form(method='POST', action='/' + post._id + '/newsLikes')
                                              input.btn.btn-outline-info(type='submit', value='Like')
                                          .col-md-3
                                            form(method='POST', action='/' + post._id + '/newsFavourite')
                                              input.btn.btn-outline-success(type='submit', value='Favourite')
                                          .col-md-3
                                            form(method='POST', action='')
                                              input.btn.btn-outline-primary(type='submit', value='Comment')
                                          .col-md-3
                                            form(method='POST', action='/' + post._id + '/newsReport')
                                              input.btn.btn-outline-danger(type='submit', value='report')