extends layout

block content
  
  div(style='margin-top:30px; margin-left:30px;')
    h2= pageHeader.title
    p= pageHeader.strapline
  hr
  
  .container-fluid.gedf-wrapper
          .row
            .col-md-3
              .card
                  .card-body
                    .h5 Rules
                    p Up-vote the questions that you think should be answered first.
                      br
                    p Please don't ask a question that has already been asked.
            .col-md-6.gedf-main
              .card.gedf-card
                .card-header
                  ul#myTab.nav.nav-tabs.card-header-tabs(role='tablist')
                    li.nav-item
                      a#posts-tab.nav-link.active(data-toggle='tab', href='#posts', role='tab', aria-controls='posts', aria-selected='true')
                        | Ask a Question
                .card-body
                  #myTabContent.tab-content
                    #posts.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='posts-tab')
                      .form-group
                        label.sr-only(for='message') post
                        textarea#message.form-control(rows='3', placeholder='What would you like help with?')
                  .btn-toolbar.justify-content-between
                    .btn-group
                      button.btn.btn-primary(type='submit') Ask
              div
                  ul.nav.nav-tabs
                    li.nav-item
                      a.nav-link.active(data-toggle='tab', href='#latest') Latest
                    li.nav-item
                      a.nav-link(data-toggle='tab', href='#unanswered') Unanswered
                    li.nav-item
                      a.nav-link(data-toggle='tab', href='#answered') Answered

              #myTabContent.tab-content
                  #latest.tab-pane.fade.active.show
                    // - \\\\\\\Question
                    each question in questions
                      .card.gedf-card(style='margin-top:20px')
                        .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=question.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= question.title
                                        .h7.text-muted= question.user
                                    div
                                      | #{question.upVotes} Up Votes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{question.time}
                                  p.card-text
                                    | #{question.text}
                                  div
                                        each tag in question.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  form(method='POST', action='/qa/' + question._id + '/questionsUpVotes')
                                      input.btn.btn-success(type='submit', value='Up Vote')
                                  a.card-link(href='#')
                                    i.fa.fa-gittip
                                    |  Answer
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Report
                                                            

                  #unanswered.tab-pane.fade.show
                    // - \\\\\\\Question
                    each question in questions
                      if (question.answered == false)
                        .card.gedf-card(style='margin-top:20px')
                          .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=question.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= question.title
                                        .h7.text-muted= question.user
                                    div
                                      | #{question.upVotes} Up Votes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{question.time}
                                  p.card-text
                                    | #{question.text}
                                  div
                                        each tag in question.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  a.card-link(href='#')
                                    i.fa.fa-gittip
                                    |  Answer
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Report
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Up Vote    

                  #answered.tab-pane.fade.show
                    // - \\\\\\\Question
                    each question in questions
                      if (question.answered == true)
                        .card.gedf-card(style='margin-top:20px')
                          .card-header
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                      .mr-2
                                        img.rounded-circle(width='45', src=question.profilePic, alt='Profile pic')
                                      .ml-2
                                        .h5.m-0= question.title
                                        .h7.text-muted= question.user
                                    div
                                      | #{question.upVotes} Up Votes
                                        
                                .card-body
                                  .text-muted.h7.mb-2
                                    i.fa.fa-clock-o
                                    | #{question.time}
                                  p.card-text
                                    | #{question.text}
                                  div
                                        each tag in question.tags
                                          span.badge.badge-primary(style='margin-right:5px;')= tag
                                .card-footer
                                  a.card-link(href='#')
                                    i.fa.fa-gittip
                                    |  Answer
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Report
                                  a.card-link(href='#')
                                    i.fa.fa-comment
                                    |  Up Vote  